<header class="header">
    <nav class="navigation-header">
        <h1 class="logo-name">
            <i class="fas fa-star"></i> selfcare
        </h1>

        <ul class="ul-navigation">
            {% if not user.is_authenticated %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% else %}
                <li><a href="{% url 'logout' %}">Sair</a></li>
                <li><a href="{% url 'profile' user.username %}"><i class="fas fa-user"></i></a></li>
            {% endif %}

            <li><i class="fas fa-search"></i></li>
            
        </ul>
    </nav>
</header>