div.products-list {
    width: 100%;
    border-bottom: 1px solid #A5A1A1;

    padding: 20px;

    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

img.img-product {
    width: 70%;
    clip-path: polygon(100% 17%, 100% 77%, 0 77%, 0 17%);
}

div.product-item p.product-name {
    margin: 7px 0;
}

div.product-item span.text-green {
    color: #5CA720;
}