{% extends "selfcare/home.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/add-product.css' %}">
{% endblock styles %}

{% block body %}
    <main>
        <form action="{% url 'add-product' %}" method="POST" enctype="multipart/form-data">
            {% if success %}
                <div class="success-msg">
                    <h2>Produto registrado com sucesso!</h2>
                </div>
            {% endif %}
            
            {% csrf_token %}

            <div style="display: none;">
                {{ form.productimage }}
            </div>

            <div class="form-container">

                <label for="id_productimage">
                    <div class="img-preview">
                        <img id="image-preview">
                        <div class="dashad">
                            <p>
                                <i class="fas fa-file-upload size"></i> <br>
                                Imagem do produto
                            </p>
                        </div>
                    </div>
                </label>
                
                <div class="group">
                    <div class="group__item">
                        <label>Nome do produto</label>
                        {{ form.title }}
                    </div>

                    <div class="group__item">
                        <label>Preço do produto</label>
                        {{ form.price }}
                    </div>
                </div>

                <div class="group">
                    <div class="group__item">
                        <label>Descrição</label>
                        {{ form.description }}
                    </div>
                </div>

                <div class="align-button">
                    <button type="submit" class="cadastrar">Cadastrar produto</button>
                </div>
            </div>
        </form>
    </main> 

    <script>

        const imageInputFile = document.getElementById('id_productimage')
        const imagePreview   = document.getElementById('image-preview')


        imageInputFile.addEventListener('change', function () {
            const file = imageInputFile.files[0]
            imagePreview.src = URL.createObjectURL(file)
            
            document.querySelector('div.img-preview').classList.add('img-seleted')
        })

    </script>

{% endblock body %}
