{% extends "selfcare/home.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock styles %}


{% block body %}
    <section class="banner"></section>

    <main class="products">
        <div class="products-header">
            <h2>PROMOÇÃO</h2>
        </div>

        <div class="products-list">
            {% for product in products %}
                <div class="product-item">
                    <img src="/{{ product.productImage }}" alt="img produto 1" class="img-product">
                    <p class="product-name">{{ product.title }}</p>
                    <h3>R$ <span class="text-green">{{ product.price }}</span></h3>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock body %}
