{% extends "selfcare/base.html" %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock styles %}

{% block body %}
    <form action="#" method="POST">
        <h1 class="logo-name">
            <i class="fas fa-star"></i> selfcare - Login
        </h1>

        <fieldset>
            <p><i class="fas fa-envelope"></i> Email:</p>
            <input type="email" placeholder="Digite seu email">

            <p><i class="fas fa-key"></i> Password:</p>
            <input type="text" placeholder="Digite sua senha">

            <p>
                Não tem uma conta? 
                <a href="{% url 'register' %}" class="register-link">Registrar-se</a>
            </p>
            
            <button type="submit" class="button-login">
                <i class="fas fa-sign-in-alt"></i> Login
            </button>
        </fieldset>
    </form>
{% endblock body %}