{% extends "selfcare/base.html" %}
{% load static %}

{% block title %}Login{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock styles %}

{% block body %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}

        <h1 class="logo-name">
            <i class="fas fa-star"></i> selfcare - Login
        </h1>

        <fieldset>
            {{ form.as_p }}

            <p>
                Não tem uma conta? 
                <a href="{% url 'register' %}" class="register-link">Registrar-se</a>
            </p>
            
            <button type="submit" class="button-login">
                <i class="fas fa-sign-in-alt"></i> Login
            </button>
        </fieldset>
    </form>
{% endblock body %}