{% extends "selfcare/base.html" %}
{% load static %}

{% block title %}Seccess{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/register-success.css' %}">
{% endblock styles %}

{% block body %}
<main class="register-success">
    <div class="header-success">
        <span class="logo-check">
            <i class="far fa-check-circle"></i>
        </span>
        <p class="msg-success">Sucesso</p>
    </div>

    <div class="register-success__boby">
        <h2><i class="fas fa-star"></i> selfcare</h2>
        <p>Bem vindo! Olá <b>{{ username }}</b>, seu registro foi feito com sucesso!</p>
        <a href="{% url 'login' %}">Login</a>
    </div>
</main>

<script>

    window.onload = function () {
        document.querySelector('main.register-success').style.display = 'block'
    }

</script>
{% endblock body %}
