<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - Seccess</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/register-success.css">
</head>
<body>
    
    <div class="page-container">
        <main class="register-success">
            <div class="header-success">
                <span class="logo-check">
                    <i class="far fa-check-circle"></i>
                </span>
                <p class="msg-success">Sucesso</p>
            </div>

            <div class="register-success__boby">
                <h2><i class="fas fa-star"></i> selfcare</h2>
                <p>Bem vindo! Seu registro foi feito com sucesso!</p>
                <a href="#">Login</a>
            </div>
        </main>
    </div>

    <script>

        window.onload = function () {
            document.querySelector('main.register-success').style.display = 'block'
        }

    </script>

</body>
</html>