{% extends "selfcare/home.html" %}
{% load static %}

{% block title %}Search Product{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/product.css' %}">
<link rel="stylesheet" href="{% static 'css/search-product.css' %}">
{% endblock styles %}

{% block body %}
<main class="search-area">
    <div class="search-field-container">
        <form action="{% url 'search-product' %}" method="GET">
            <input type="text" name="search" class="search-input" placeholder="Pesquisar produto">
            <button type="submit" class="button-search">
                <i class="fas fa-search"></i>
                Procurar
            </button>
        </form>
    </div>

    <div class="products-list">
        {% if products == None %}
            <h3>Insira um valor no campo acima, para pesquisar algum produto!</h3>
        {% else %}

            {% for product in products %}    
                <div class="product-item">
                    <img src="/{{ product.productImage }}" alt="img produto 1" class="img-product">
                    <p class="product-name">{{ product.title }}</p>
                    <h3>R$ <span class="text-green">{{product.price  }}</span></h3>

                    <a href="{% url 'product-detail' product.id %}" class="view-btn">Detalhes</a>
                </div>
            {% endfor %}

        {% endif %}


    </div>
</main>
{% endblock body %}