<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>selfcare - User</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/comment.css">
    <link rel="stylesheet" href="css/user.css">
</head>
<body>
    
    <div class="page-container">
        <header class="header">
            <nav class="navigation-header">
                <h1 class="logo-name">
                    <i class="fas fa-star"></i> selfcare
                </h1>

                <ul class="ul-navigation">
                    <li><i class="fas fa-search"></i></li>
                    <li><i class="fas fa-user"></i></li>
                    <li><i class="fas fa-shopping-cart"></i></li>
                </ul>
            </nav>
        </header>

        <main class="user-area">
            <div class="user-area-header">
                <img src="https://avatars.githubusercontent.com/u/61367147?v=4" class="user-image">
                
                <div class="user-details-header">
                    <h3>User Name</h3>
                    <p>Status: <b class="bold-green">Vendedor</b></p>
                </div>
            </div>

            <div class="user-place-details">
                <h3>
                    <i class="fas fa-map-marked-alt"></i>
                    Localização do Vendedor
                </h3>

                <div>
                    <table>
                        <tbody>
                            <tr>
                                <th class="bold-green">Rua:</th>
                                <td>Rua tal</td>
                            </tr>

                            <tr>
                                <th class="bold-green">Cidade:</th>
                                <td>Cidade tal</td>
                            </tr>

                            <tr>
                                <th class="bold-green">Estado:</th>
                                <td>CE</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="decription-area">
                <h3>
                    <i class="fas fa-scroll"></i>
                    Descrição
                </h3>

                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Accusantium optio architecto provident voluptas, 
                    mollitia tempora. Itaque quibusdam harum corrupti 
                    porro sit, aut magni at quas quidem, excepturi, 
                    et quae provident.
                </p>
            </div>

            <section class="comment-area">
                <div class="comment-area__header">
                    <h2>Produtos</h2>
    
                    <a href="#">
                        <i class="far fa-plus-square"></i>
                        Adicionar produto
                    </a>
                </div>

                <div class="comment-container">
                    <div class="comment">
                        <a href="#" class="edit-button">
                            <i class="fas fa-edit"></i>
                        </a>

                        <div class="comment-header">
                            <img src="https://avatars.githubusercontent.com/u/61367147?v=4">
                            <div>
                                <h3>Nome do Produto</h3>
                                <h4>R$ <span class="green">50,00</span></h4>
                            </div>
                        </div>

                        <a href="#" class="button-details">
                            Detalhes do Produto
                        </a>
                    </div>

                    <div class="comment">
                        <a href="#" class="edit-button">
                            <i class="fas fa-edit"></i>
                        </a>

                        <div class="comment-header">
                            <img src="https://avatars.githubusercontent.com/u/61367147?v=4">
                            <div>
                                <h3>Nome do Produto</h3>
                                <h4>R$ <span class="green">50,00</span></h4>
                            </div>
                        </div>

                        <a href="#" class="button-details">
                            Detalhes do Produto
                        </a>
                    </div>

                    <div class="comment">
                        <a href="#" class="edit-button">
                            <i class="fas fa-edit"></i>
                        </a>

                        <div class="comment-header">
                            <img src="https://avatars.githubusercontent.com/u/61367147?v=4">
                            <div>
                                <h3>Nome do Produto</h3>
                                <h4>R$ <span class="green">50,00</span></h4>
                            </div>
                        </div>

                        <a href="#" class="button-details">
                            Detalhes do Produto
                        </a>
                    </div>
                </div>
            </section>
        </main>
    </div>

</body>
</html>