{% extends "selfcare/home.html" %}
{% load static %}

{% block title %}User{% endblock title %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/comment.css' %}">
<link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock styles %}


{% block body %}
<main class="user-area">
    <div class="user-area-header">
        
        <img src="/{{ userDetails.userImage }}" class="user-image">
        
        <div class="user-details-header">
            <h3>{{ user.username }}</h3>
            <p>Status: <b class="bold-green">{{ userDetails.status }}</b></p>
        </div>
    </div>

    <div class="user-place-details">
        <h3>
            <i class="fas fa-map-marked-alt"></i>
            Localização do Vendedor
        </h3>

        <div>
            <table>
                <tbody>
                    <tr>
                        <th class="bold-green">Rua:</th>
                        <td>{{ userDetails.localization.street }}</td>
                    </tr>

                    <tr>
                        <th class="bold-green">Cidade:</th>
                        <td>{{ userDetails.localization.city }}</td>
                    </tr>

                    <tr>
                        <th class="bold-green">Estado:</th>
                        <td>{{ userDetails.localization.state }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="decription-area">
        <h3>
            <i class="fas fa-scroll"></i>
            Descrição
        </h3>

        <p>
            {{ userDetails.description }}
        </p>
    </div>

    <section class="comment-area">
        <div class="comment-area__header">
            <h2>Produtos</h2>

            <a href="{% url 'add-product' %}">
                <i class="far fa-plus-square"></i>
                Adicionar produto
            </a>
        </div>

        <div class="comment-container">

            {% for product in products %}
                <div class="comment">
                    <div class="comment-header">
                        <img src="/{{ product.productImage }}" class="img-produto">
                        <div>
                            <h3>{{ product.title }}</h3>
                            <h4>R$ <span class="green">{{ product.price }}</span></h4>
                        </div>
                    </div>

                    <a href="#" class="button-details">
                        Detalhes do Produto
                    </a>
                </div>
            {% endfor %}

            
        </div>
    </section>
</main>
{% endblock body %}